*{
 padding: 0px;
 margin: 0px;
 text-align: center;
 background-color: #1C1C1C;		
}

#fundo {
 background-image: url("/imagens/fundo2.jpg");
 height: 20%;
 width: 95%;
 margin: 0px auto;
 border: 5px solid #1C1C1C;
 border-radius: 40px;
}

#centro {
 background-color: #1C1C1C;
 height: 90%;
 width: 75%;
 margin: 50px auto;
 border: 5px solid #1C1C1C;
 border-radius: 17px; 
}

.carousel-item img{
  border: 2px solid transparent;
  border-radius: 15px;
}



.hqs{
 margin: 10px auto;
 max-width: 70%
}

#imagemHq{
 height: 256px;
}
